.header {
    width: 1500px;
    height: 100px;
    
}
.logo {
    width: 100px;
    height: 100px;
    /* hoặc */
    object-fit: contain;
}
.title {
    margin-top: 30px;
    color:  #636363;
}
.languageButton{
    display: inline;
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
